<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="bootstrap.php"
		 convertErrorsToExceptions="true"
		 convertNoticesToExceptions="true"
		 convertWarningsToExceptions="true"
		 strict="true">
	<testsuites>
		<testsuite name="All">
			<directory>.</directory>
		</testsuite>
	</testsuites>
	<listeners>
		<listener class="PHPUnit_Util_Log_VCR" file="../vendor/php-vcr/phpunit-testlistener-vcr/PHPUnit/Util/Log/VCR.php" />
	</listeners>
	<filter>
		<blacklist>
			<directory>..</directory>
		</blacklist>
		<whitelist>
			<directory suffix=".php">../src</directory>
		</whitelist>
	</filter>
</phpunit>